<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411284470737-97ka1hhrrb4qeiuvuv3141btl27ev2fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411284470737-97ka1hhrrb4qeiuvuv3141btl27ev2fl</string>
	<key>API_KEY</key>
	<string>AIzaSyDyLc3nXSZjzwmeWlDD6P5cutxyjp9es00</string>
	<key>GCM_SENDER_ID</key>
	<string>411284470737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matheusmaxwell.fazenda</string>
	<key>PROJECT_ID</key>
	<string>farmcontrol-2069e</string>
	<key>STORAGE_BUCKET</key>
	<string>farmcontrol-2069e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411284470737:ios:ca7bb776a3c1055f913ef0</string>
	<key>DATABASE_URL</key>
	<string>https://farmcontrol-2069e.firebaseio.com</string>
</dict>
</plist>